/* CSS declarations go here */

html, body {
  font-family : 'Roboto', sans-serif;
}

button {
  display             : inline-block;
  position            : relative;
  cursor              : pointer;
  min-height          : 32px;
  min-width           : 256px;
  line-height         : 32px;
  vertical-align      : middle;
  -webkit-box-align   : center;
  -webkit-align-items : center;
  align-items         : center;
  text-align          : center;
  border-radius       : 2px;
  box-sizing          : border-box;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  user-select         : none;
  outline             : none;
  border              : 0;
  padding             : 0 6px;
  margin              : 6px 0;
  background          : #4285F4;
  color               : #FFFFFF;
  white-space         : nowrap;
  text-transform      : uppercase;
  font-size           : 14px;
  font-weight         : bold;
  font-style          : inherit;
  font-variant        : inherit;
  font-family         : inherit;
  text-decoration     : none;
  overflow            : hidden;
  -webkit-transition  : box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  transition          : box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
}

label {
  display        : block;
  letter-spacing : 4px;
  padding-top    : 30px;
  text-align     : center;
}

.title,
label .label-text {
  color          : #9B9B9B;
  cursor         : text;
  font-size      : 20px;
  line-height    : 20px;
  text-transform : uppercase;
}

label .label-text {
  -moz-transform    : translateY(-34px);
  -ms-transform     : translateY(-34px);
  -webkit-transform : translateY(-34px);
  transform         : translateY(-34px);
  transition        : all 0.3s;
}

.data,
label input[type=text] {
  background-color : transparent;
  border           : 0;
  font-size        : 36px;
  letter-spacing   : -1px;
  outline          : 0;
  padding          : 5px 20px;
  text-align       : center;
  transition       : all 0.3s;
  min-width        : 200px;
}

label input[type=text] {
  border-bottom : 2px solid #4A4A4A;
}

label input[type=text]:focus {
  max-width : 100%;
  width     : 400px;
}

label input[type=text]:focus + .label-text,
label input[type=text]:valid + .label-text {
  font-size         : 13px;
  -moz-transform    : translateY(-74px);
  -ms-transform     : translateY(-74px);
  -webkit-transform : translateY(-74px);
  transform         : translateY(-74px);
}
